include ./button/_button.pug
include ./header/_header.pug
include ./about/_about.pug
include ./footer/_footer.pug
include ./popup/_popup.pug
include ./form/_form.pug
include ./navigation/_navigation.pug
include ./social/_social.pug
include ./logo/_logo.pug
include ./burger/_burger.pug
include ./menu/_menu.pug
include ./title/_title.pug
include ./skills/_skills.pug
include ./progressBar/_progressBar.pug
include ./education/_education.pug
include ./experience/_experience.pug
include ./services/_services.pug
include ./portfolio/_portfolio.pug
include ./process/_process.pug
include ./testimonial/_testimonial.pug
include ./blog/_blog.pug
include ./contact/_contact.pug
include ./download/_download.pug