.skills {
  max-width: 100%;
  height: 600px;
  background-color: #1abc9c;
  shape-outside: polygon(0% 80px, 100% 0px, 100% 600px, 0% 520px);
  clip-path: polygon(0% 80px, 100% 0px, 100% 600px, 0% 520px);
  padding-top: 90px;
  position: relative;

  @media (max-width: 577px) {
    display: none;
    position: absolute;
  }

  @media (max-width: 376px) {
    height: 1242px;
    clip-path: polygon(0% 34px, 100% 0px, 100% 1242px, 0% 1191px);
    padding-top: 45px;
  }
}