.skills {
  max-width: 100%;
  height: 600px;
  background-color: #1abc9c;
  shape-outside: polygon(0% 80px, 100% 0px, 100% 600px, 0% 520px);
  clip-path: polygon(0% 80px, 100% 0px, 100% 600px, 0% 520px);
  padding-top: 90px;
  position: relative;

  @media (max-width: 577px) {
    clip-path: polygon(0% 80px, 100% 0px, 100% 600px, 0% 548px);
    padding-top: 50px;
  }

  @media (max-width: 450px) {
    clip-path: polygon(0% 40px, 100% 0px, 100% 600px, 0% 575px);
    padding-top: 60px;
  }
}