@import 'assets/scss/normalize/import-now';
@import 'assets/scss/bootstrap-grid';
@import 'blocks/blocks';

h2 {
    color: #3677fd;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.4;
    text-transform: capitalize;
}

body {
    font-family: 'Lato', sans-serif;
}