mixin download(_download)
    .download
        .container
            +title("", shape_black, 'download', 'about')
            +btn1(`${links}`, "Download My Resume", "secondary_download", "JOHN_DOE_resume.7z", "location.href")