mixin download(_download)
    .download
        .container
            +title("", shape_black, 'download', 'about')
            +btn1("https://ozhupiko.github.io/Jupikova2019_resume_template/Ольга Жупикова_front-end.pdf", "Download My Resume", "secondary_download")